/* Css Variables */
/* /* Desktop screen Game tiles sizeing */ 
:root{
    --letter-size-4:80px;
    --letter-size-5:75px;
    --letter-size-6:65px;
    --letter-size-7:55px;
    --letter-size-9:55px;
    --letter-size-10:55px;

    --letter-line-height-4:4.7rem;
    --letter-line-height-5:4.7rem;
    --letter-line-height-6:4.7rem;
    --letter-line-height-7:3rem;
    --letter-line-height-9:3rem;
    --letter-line-height-10:3rem;

}
@media only screen and (min-width: 950px){
    :root{
        --letter-size-4:80px;
        --letter-size-5:75px;
        --letter-size-6:65px;
        --letter-size-7:55px;
        --letter-size-9:55px;
        --letter-size-10:55px;

        --letter-line-height-4:4.7rem;
        --letter-line-height-5:4.7rem;
        --letter-line-height-6:4.7rem;
        --letter-line-height-7:3rem;
        --letter-line-height-9:3rem;
        --letter-line-height-10:3rem;

    }
}
/* Small laptop/ large tablet sizing screen Game tiles sizeing */
@media only screen and (max-width: 950px) {
    :root{
        --letter-size-4:80px;
        --letter-size-5:70px;
        --letter-size-6:60px;
        --letter-size-7:50px;
        --letter-size-9:40px;
        --letter-size-10:40px;

        --letter-line-height-4:4.7rem;
        --letter-line-height-5:4.7rem;
        --letter-line-height-6:4rem;
        --letter-line-height-7:3rem;
        --letter-line-height-9:3rem;
        --letter-line-height-10:3rem;
    }
    
}
/* Tablet/Small laptop screen Game tiles sizeing */
@media only screen and (max-width: 600px) {
    :root{
        --letter-size-4:80px;
        --letter-size-5:70px;
        --letter-size-6:60px;
        --letter-size-7:50px;
        --letter-size-9:30px;
        --letter-size-10:30px;

        --letter-line-height-4:4.7rem;
        --letter-line-height-5:4.2rem;
        --letter-line-height-6:4rem;
        --letter-line-height-7:3rem;
        --letter-line-height-9:2rem;
        --letter-line-height-10:2rem;
    }
    
}
/* Mobile screen Game tiles sizeing */
@media only screen and (max-width: 473px) {
    :root{
        --letter-size-4:60px;
        --letter-size-5:50px;
        --letter-size-6:40px;
        --letter-size-7:30px;
        --letter-size-9:20px;
        --letter-size-10:20px;

        --letter-line-height-4:3.5rem;
        --letter-line-height-5:3rem;
        --letter-line-height-6:2.5rem;
        --letter-line-height-7:1.5rem;
        --letter-line-height-9:1.2rem;
        --letter-line-height-10:1.2rem;
    }
    
}

    
body{
   height: 100vh;
   margin: 1rem;
   background-color:#01183B;
   color: white;
}

/* All Start Menu and Game containers */

section{
    height:min-content;
}
.menu-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(#0B1D39 ,#00225B) ;
    
    border-radius: 50%;

}
.menu-container button {
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    align-items: center;

}
.menu-container button:hover{
    background-color: green;
}
.container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#timer-skip-container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    
}
.timer-container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 1rem;
}
@media only screen and (max-width: 473px){
    .timer-container{
        margin-left: 0;
    }
}

/* 3 Column layout for Game Controls */
.column{
    flex: 1;
  margin: 10%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    height: fit-content;
}

/* Menu */
#menu-options-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
/* Tutorial Menu */
#tutorial{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* Menu Buttons */
#game-menu{
    display: flex;
    flex-direction: column;
}
#play-buttons{
    display: flex;
    justify-content: center;
}
#options{
    flex-direction: column;
    align-items: center;
}
#game-menu button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}
#play-buttons button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}

/* Mobile Game menu and game container sizing And Menu Button sizing */
@media only screen and (max-width: 473px) {
    #menu-options-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #play-buttons{
        flex-direction: row;
    }
    .container{
        justify-content: flex-start;
        
    }
    /* Buttons  */
    #game-menu button, #play-buttons button{
        padding: 1.5rem;
        border-radius: 12px;
    }
    

}

/* @keyframes border-anim {
    0% {background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);}
    10% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 500px 500px, #E35F00, orange);}
    20% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 400px 400px, #E35F00, orange);}
    30% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 300px 300px, #E35F00, orange);}
    40% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 200px 200px, #E35F00, orange);}
    50% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 100px 100px, #E35F00, orange);}
    60% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 200px 200px, #E35F00, orange);}
    70% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 300px 300px, #E35F00, orange);}
    80% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 400px 400px, #E35F00, orange);}
    90% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 500px 500px, #E35F00, orange);}
    100% {background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);}
} */


/* Menu Radio buttons on Practice Options from tutorial https://www.youtube.com/watch?v=GDh9uToZkYg */
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(246,246,246,0.25);
    font-size: x-large;
    
}
.radio input{
    display: none;
}
.radio label{
    padding: 8px 14px;
    font-size: 14px;
    color: white;
    background-color: #00225B;
    cursor: pointer;
    transition: background 0.1s;
}
.radio label:not(:last-of-type){
    border-right: 1px solid white;
}

.radio input:checked + label{
    background: green;
}


/* LeaderBoard */
#leader-board-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#leader-board{
    display: flex;
    flex-direction: row;
}
.leader-board-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
}
.leader-board-container ul{
    list-style-type:none;
}
/* Mobile leaderboard sizing */
@media only screen and (max-width: 473px) {
    #leader-board-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #leader-board{
        flex-direction: column;
    }
    .leader-board-container{
        line-height: 1.3rem;
        padding: 0.5rem;
    }
}
/* Add to leader board / Lingo words list  */

#word-defi-list{}
.all-words-container{
    text-align: center;
    padding-bottom: 1rem;
}
#all-words{
    list-style-type:none;
}
#all-words button{
    padding-block: 0.25rem;
    border-radius: 12px;
    background-color: orange;
    color: white;
}
.all-words-list{
    background-color: green;
    color: white;
    padding-block: 1rem;
    font-size: large;
    border-radius: 1rem;
}
.display-defi{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-block: 1rem;
  background-color: #00225B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.word-defi{
    background-color: green;
}
.defi{
    background-color: orange;
}

/* Dictonary  */
#dictonary-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#dictonary h1{
    text-align: center;
}
#word-list{
    height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
    line-height: 2rem;
    
}
#word-list::-webkit-scrollbar{
    width: 12px;
}
#word-list::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 6px;
}
/* Mobile Dictonary sizing  */
@media only screen and (max-width: 473px) {
    #dictonary-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #dictonary{
        height: 50%;
        width: 75%;
        font-size: x-small;
    }
}

/* Final choice message */
#final h1{
    text-align: center;
}
.choice-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
    text-align: center;
}
.choice-container button{
    padding: 1rem;
    background-color: orange;
    text-align: center;
    border: 6px;
    color: white;
}
#save-score-button{
    padding: 0.5rem;
}

/* Mobile Final choice sizing */
@media only screen and (max-width: 473px) {
    .choice-container{
        margin: 1rem;
        line-height: normal;
        padding: 0.5rem;
        font-size: small;
    }
}

/* Game over */
#game-over{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 12px;
    color: white;
    line-height: 2rem;
    text-align: center;
}
#game-over-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
    background-origin: border-box;
    background-clip: content-box, border-box;
    

}

/* Lingo Timer */
#progress-bar{
    position: relative;
    margin-top: 0px;
    height: 10px;
    width: 300px;
    background-color: red;

}
#tutorial-progress-bar{
    position: relative;
    margin-top: 0px;
    height: 10px;
    width: 300px;
    background-color: red;
}
#tutorial-timer-display{
    background-color: lightblue;
    position:absolute;
    width: 100%;
    height: 100%;
}
#timer-display{
    background-color: lightblue;
    position:absolute;
    width: 100%;
    height: 100%;
    
}
#final-timer-display{
    margin-top: 0;
    text-align: center;
}
#tutorial-final-timer-display{
    margin-top: 0;
    text-align: center;
}
#skip-button{
    margin-top: 0px;
}


/* Lingo Game Tiles */

#game-area ul{
    list-style: none;
    display: table;
    
}
#tutorial-area ul{
    list-style: none;
    display: table;
}

#reveal-lingo{
    list-style: none;
    display: table;
}
.mobile-length-4,.mobile-length-5,.mobile-length-6,.mobile-length-7,.mobile-length-9,.mobile-length-10{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left;
    text-align: center;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    margin: 2px;
    color: white;
    line-height: 4.7rem;
    font-size: 2rem;
}

.mobile-length-4{
    width: var(--letter-size-4);
    height: var(--letter-size-4);
    line-height: var(--letter-line-height-4);
    
}
.mobile-length-5{
    width: var(--letter-size-5);
    height: var(--letter-size-5);
    line-height: var(--letter-line-height-5);
}
.mobile-length-6{
    width: var(--letter-size-6);
    height: var(--letter-size-6);
    line-height: var(--letter-line-height-6);
}
.mobile-length-7{
    width: var(--letter-size-7);
    height: var(--letter-size-7);
    line-height: var(--letter-line-height-7);
}
.mobile-length-9{
    width: var(--letter-size-9);
    height: var(--letter-size-9);
    line-height: var(--letter-line-height-9);
}
.mobile-length-10{
    width: var(--letter-size-10);
    height: var(--letter-size-10);
    line-height: var(--letter-line-height-10);
}

#clue{
    text-align: center;
    background-color: #E35F00;
    border-radius: 6px;
}

/* Control area */
#control-area{
    margin-top: 0px;
}
#game-input-error{
    color: red;
    font-size: small;
}

/* User input  */


#toggle-user-input{
    display: flex;
    min-height: 100px;
    
}
#tutorial-toggle-user-input{
    display: flex;
    min-height: 100px;
}

#money-increment, #player-money{
    background-color: green;
    height: fit-content;
    padding-block: 20px;
    
}
#user-input{
    background-color: #00225B;
    padding: 20px 20px;
    
}
#mobile-scores{
    display: flex;
}

/* UI back button, verify , return to menu  */
.menu-button{
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    position:fixed;
    top: 0;
    left: 0;
    margin-top: 0.5%;
    margin-left: 0.5%;
    
}
@media only screen and (max-width: 821px) {
    .menu-button{
        padding:0.5rem;
    }
}
@media only screen and (max-width: 473px) {
    .menu-button{
        padding:0.1rem;
    }
}

#submit-answer{
    padding: 0.3rem;
    background-color: orange;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
   

}
#skip-word{
    background-color: orange;
    padding: 0.2rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
}
#tutorial-skip-word{
    background-color: orange;
    padding: 0.2rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;

}

/* Tutorial Styles */
#overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

#rules-display{
    height: min-content;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,128,0,0.75);
    display: flex;
    justify-content: center;
    
}
#rules-display li{
    margin-top: 1%;
}
#rules-display h1{
    text-align: center;
}
.tutorial-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.tutorial-buttons button{
    padding: 0.3rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    color: #00225B;

}
.tutorial-buttons button:first-child{
    background-color: orange;
    color: white;
}
@media only screen and (max-width: 473px) {
    #tutorial-toggle-user-input{
        display: none;
    }
    #rules-display{
        width: 70%;
        height: 50%;
    }
}


/* API key enter */
#input-api-key{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00225B;
    text-align: center;
    border: 6px solid #E0D6D1; 
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#api-error{
    color: red;
}

#menu-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

/* New round display */
#new-stage-display{
    position: fixed;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-left: 0;

    
    
}
@media only screen and (max-width: 473px) {
    #new-stage-display{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
}
.new-stage-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(#0B1D39 ,#00225B) ;
    border-radius: 50%;


}
#stage-header {
    font-size: 35px;
}
#stage-subheader{
    font-size: large;
}
#stage-button{
    background-color: orange;
    padding: 1rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
}
#stage-button:hover{
    background-color: green;
}

/* Hidden elements */

#options,#back-button,#final,#timer-display,#play-lingo-options,#skip-word,#dictonary,#words-defi-list,#full-game-section,#leader-board-section,#dictonary-section,.display-defi,#final-timer-display,#progress-bar,#game-over,#tutorial-section,#grand-prize,#input-api-key,#menu-overlay,#new-stage-display{
    display: none;
}
