body{
   height: 100vh;
   margin: 1rem;
   
}
#menu-options-section{
    height: 100%;
}
section{
    height:min-content;
}


/* Utilities  */
.menu-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.menu-container button {
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    align-items: center;

}
.menu-container button:hover{
    background-color: green;
}
.container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#timer-skip-container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    
}
.column{
    flex: 1;
  margin: 10%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    height: fit-content;
}

/* Menu */
#menu-options-section{
    border: 50px solid orange;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 0;
    width: 90%;
    height: 80%;
}



/* Menu Radio buttons on options from tutorial https://www.youtube.com/watch?v=GDh9uToZkYg */
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.radio input{
    display: none;
}
.radio label{
    padding: 8px 14px;
    font-size: 14px;
    color: white;
    background-color: #00225B;
    cursor: pointer;
    transition: background 0.1s;
}
.radio label:not(:last-of-type){
    border-right: 1px solid black;
}

.radio input:checked + label{
    background: green;
}

/* LeaderBoard */
#leader-board{
    display: flex;
    flex-direction: row;
}
.leader-board-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
}
.leader-board-container ul{
    list-style-type:none;
}
/* Add to leader board / Lingo words list  */

.all-words-container{
    background-color: #00225B;
    text-align: center;
    
}
.all-words-list{
    background-color: green;
    color: white;
}


#game-menu{
    display: flex;
    flex-direction: column;
}
#game-menu button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}
#play-buttons button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}

/* Final choice message */
.choice-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
    text-align: center;
}
.choice-container button{
    padding: 1rem;
    background-color: orange;
    text-align: center;
    border: 6px;
    color: white;
}
#save-score-button{
    padding: 0.5rem;
}

/* Game over */
#game-over-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 50px solid orange;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 0;
    

}

/* Game Menu Buttons found on https://getcssscan.com/css-buttons-examples


#game-menu button{
    align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 2em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      margin-bottom: 2em;
}
#game-menu .btn-red{
    background-image: linear-gradient(144deg,#F19C3D, #bfed35 50%,#D8601F)
}
#game-menu  button:active,
    button:hover {
      outline: 0;
    }
    
    @media (min-width: 768px) {
      .button-63 {
        font-size: 24px;
        min-width: 196px;
      }
    }



#game-menu button:first-of-type{
    margin-top: 2em;
} */

/* Lingo Timer */
#timer-display{
    margin-top: 0px;
}
#skip-button{
    margin-top: 0px;
}

/* Lingo Game Tiles */

#game-area ul{
    list-style: none;
    display: table;
}
#reveal-lingo{
    list-style: none;
    display: table;
}
.mobile-length-4,.mobile-length-5,.mobile-length-6,.mobile-length-7,.mobile-length-9,.mobile-length-10{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left;
    text-align: center;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    margin: 2px;
    color: white;
}

.mobile-length-4{
    width: 80x;
    height: 80px;
}
.mobile-length-5{
    width: 75px;
    height: 75px;
}
.mobile-length-6{
    width: 65px;
    height: 65px;
}
.mobile-length-7{
    width: 55px;
    height: 55px;
}
.mobile-length-9{
    width: 55px;
    height: 55px;
}
.mobile-length-10{
    width: 55px;
    height: 55px;
}

@media only screen and (max-width: 950px) {
    .mobile-length-4{
        width: 80px;
        height: 80px;
    }
    .mobile-length-5{
        width: 70px;
        height: 70px;
    }
    .mobile-length-6{
        width: 60px;
        height: 60px;
    }
    .mobile-length-7{
        width: 50px;
        height: 50px;
    }
    .mobile-length-9{
        width: 40px;
        height: 40px;
    }
    .mobile-length-10{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        justify-content: flex-start;
        margin-left: 1rem;
    }
    .mobile-length-4{
        width: 80px;
        height: 80px;
    }
    .mobile-length-5{
        width: 70px;
        height: 70px;
    }
    .mobile-length-6{
        width: 60px;
        height: 60px;
    }
    .mobile-length-7{
        width: 50px;
        height: 50px;
    }
    .mobile-length-9{
        width: 30px;
        height: 30px;
    }
    .mobile-length-10{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 473px) {
    .container{
        justify-content: flex-start;
        margin-left: 1rem;
    }
    .mobile-length-4{
        width: 60px;
        height: 60px;
    }
    .mobile-length-5{
        width: 50px;
        height: 50px;
    }
    .mobile-length-6{
        width: 40px;
        height: 40px;
    }
    .mobile-length-7{
        width: 30px;
        height: 30px;
    }
    .mobile-length-9{
        width: 20px;
        height: 20px;
    }
    .mobile-length-10{
        width: 20px;
        height: 20px;
    }
}

/* Control area */
#control-area{
    margin-top: 0px;
}
/* User input  */


#toggle-user-input{
    display: flex;
    min-height: 100px;
    
}

#money-increment, #player-money{
    background-color: green;
    height: fit-content;
    padding-block: 20px;
    
}
#user-input{
    background-color: #00225B;
    padding: 20px,20px;
    
}
.mobile-scores{
    display: flex;
}

/* UI back button, verify , return to menu  */
.menu-button{
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    position:fixed;
    top: 0;
    left: 0;
    margin-top: 0.5%;
    margin-left: 0.5%;
    
}
@media only screen and (max-width: 821px) {
    .menu-button{
        padding:0.5rem;
    }
}
@media only screen and (max-width: 473px) {
    .menu-button{
        padding:0.1rem;
    }
}

#submit-answer{
    padding: 0.3rem;
    background-color: orange;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
   

}
#skip-word{
    background-color: orange;
    padding: 0.2rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
}

/* Hidden elements */

#options,#back-button,#final,#timer-display,#play-lingo-options,#skip-word,#dictonary,#words-defi-list,#full-game-section,#leader-board-section,#dictonary-section{
    display: none;
}
