/* Css Variables */
/* /* Desktop screen Game tiles sizeing */ 
@media only screen and (min-width: 950px){
    :root{
        --4-letter-size:80px;
        --5-letter-size:75px;
        --6-letter-size:65px;
        --7-letter-size:55px;
        --9-letter-size:55px;
        --10-letter-size:55px;

        --4-letter-line-height:4.7rem;
        --5-letter-line-height:4.7rem;
        --6-letter-line-height:4.7rem;
        --7-letter-line-height:3rem;
        --9-letter-line-height:3rem;
        --10-letter-line-height:3rem;

    }
}
/* Small laptop/ large tablet sizing screen Game tiles sizeing */
@media only screen and (max-width: 950px) {
    :root{
        --4-letter-size:80px;
        --5-letter-size:70px;
        --6-letter-size:60px;
        --7-letter-size:50px;
        --9-letter-size:40px;
        --10-letter-size:40px;

        --4-letter-line-height:4.7rem;
        --5-letter-line-height:4.7rem;
        --6-letter-line-height:4rem;
        --7-letter-line-height:3rem;
        --9-letter-line-height:3rem;
        --10-letter-line-height:3rem;
    }
    
}
/* Tablet/Small laptop screen Game tiles sizeing */
@media only screen and (max-width: 600px) {
    :root{
        --4-letter-size:80px;
        --5-letter-size:70px;
        --6-letter-size:60px;
        --7-letter-size:50px;
        --9-letter-size:30px;
        --10-letter-size:30px;

        --4-letter-line-height:4.7rem;
        --5-letter-line-height:4.2rem;
        --6-letter-line-height:4rem;
        --7-letter-line-height:3rem;
        --9-letter-line-height:3rem;
        --10-letter-line-height:3rem;
    }
    
}
/* Mobile screen Game tiles sizeing */
@media only screen and (max-width: 473px) {
    :root{
        --4-letter-size:60px;
        --5-letter-size:50px;
        --6-letter-size:40px;
        --7-letter-size:30px;
        --9-letter-size:30px;
        --10-letter-size:30px;

        --4-letter-line-height:3.5rem;
        --5-letter-line-height:3rem;
        --6-letter-line-height:2.5rem;
        --7-letter-line-height:1.5rem;
        --9-letter-line-height:1.5rem;
        --10-letter-line-height:1.5rem;
    }
    
}

    
body{
   height: 100vh;
   margin: 1rem;
   /* background-color: #102A52; */
   background-color:#01183B;
   color: white;
   /* background-image:url(/assets/images/bermuda-circle.png); */
}

/* All Start Menu and Game containers */

section{
    height:min-content;
}
.menu-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(#0B1D39 ,#00225B) ;
    
    border-radius: 50%;

}
.menu-container button {
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    align-items: center;

}
.menu-container button:hover{
    background-color: green;
}
.container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#timer-skip-container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    
}
.timer-container{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 1rem;
}
@media only screen and (max-width: 473px){
    .timer-container{
        margin-left: 0;
    }
}

/* 3 Column layout for Game Controls */
.column{
    flex: 1;
  margin: 10%;
  margin-top: 1%;
  padding: 15px;
  text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    height: fit-content;
}

/* Menu */
#menu-options-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* animation-name:border-anim;
    animation-duration: 20s; */
    
}

/* Menu Buttons */
#game-menu{
    display: flex;
    flex-direction: column;
}
#play-buttons{
    display: flex;
    justify-content: center;
}
#options{
    flex-direction: column;
    align-items: center;
}
#game-menu button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}
#play-buttons button{
    margin: 1rem;
    padding: 2rem;
    font-size: large;
}

/* Mobile Game menu and game container sizing And Menu Button sizing */
@media only screen and (max-width: 473px) {
    #menu-options-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #play-buttons{
        flex-direction: row;
    }
    .container{
        justify-content: flex-start;
        
    }
    /* Buttons  */
    #game-menu button, #play-buttons button{
        padding: 1.5rem;
        border-radius: 12px;
    }
    

}

/* @keyframes border-anim {
    0% {background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);}
    10% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 500px 500px, #E35F00, orange);}
    20% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 400px 400px, #E35F00, orange);}
    30% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 300px 300px, #E35F00, orange);}
    40% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 200px 200px, #E35F00, orange);}
    50% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 100px 100px, #E35F00, orange);}
    60% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 200px 200px, #E35F00, orange);}
    70% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 300px 300px, #E35F00, orange);}
    80% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 400px 400px, #E35F00, orange);}
    90% {background-image:linear-gradient(white, white), radial-gradient(farthest-corner at 500px 500px, #E35F00, orange);}
    100% {background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);}
} */


/* Menu Radio buttons on Practice Options from tutorial https://www.youtube.com/watch?v=GDh9uToZkYg */
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(246,246,246,0.25);
    font-size: x-large;
    
}
.radio input{
    display: none;
}
.radio label{
    padding: 8px 14px;
    font-size: 14px;
    color: white;
    background-color: #00225B;
    cursor: pointer;
    transition: background 0.1s;
}
.radio label:not(:last-of-type){
    border-right: 1px solid white;
}

.radio input:checked + label{
    background: green;
}


/* LeaderBoard */
#leader-board-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#leader-board{
    display: flex;
    flex-direction: row;
}
.leader-board-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
}
.leader-board-container ul{
    list-style-type:none;
}
/* Mobile leaderboard sizing */
@media only screen and (max-width: 473px) {
    #leader-board-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #leader-board{
        flex-direction: column;
    }
    .leader-board-container{
        line-height: 1.3rem;
        padding: 0.5rem;
    }
}
/* Add to leader board / Lingo words list  */

.all-words-container{
    text-align: center;
    padding-bottom: 1rem;
    
}
.all-words-list{
    background-color: green;
    color: white;
    padding-block: 1rem;
    font-size: large;
    border-radius: 1rem;
}
.display-defi{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-block: 1rem;
  background-color: #00225B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.word-defi{
    background-color: green;
}
.defi{
    background-color: orange;
}

/* Dictonary  */
#dictonary-section{
    border: 50px solid transparent ;
    border-radius: 50%;
    margin-left: 0;
    width: 90%;
    height: 80%;
    background-image: linear-gradient(white, white), radial-gradient(farthest-corner at 600px 600px, #E35F00, orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
#dictonary h1{
    text-align: center;
}
/* Mobile Dictonary sizing  */
@media only screen and (max-width: 473px) {
    #dictonary-section{
        width: 75%;
        border: 35px solid transparent ;
        background-image: none;
    }
    #dictonary{
        height: 50%;
        width: 75%;
        font-size: x-small;
    }
}

/* Final choice message */
#final h1{
    text-align: center;
}
.choice-container{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    line-height: 2rem;
    text-align: center;
}
.choice-container button{
    padding: 1rem;
    background-color: orange;
    text-align: center;
    border: 6px;
    color: white;
}
#save-score-button{
    padding: 0.5rem;
}

/* Mobile Final choice sizing */
@media only screen and (max-width: 473px) {
    .choice-container{
        margin: 1rem;
        line-height: normal;
        padding: 0.5rem;
        font-size: small;
    }
}

/* Game over */
#game-over{
    margin: 2rem;
    padding: 1rem;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 12px;
    color: white;
    line-height: 2rem;
    text-align: center;
}
#game-over-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 0;
    background-origin: border-box;
    background-clip: content-box, border-box;
    

}

/* Game Menu Buttons found on https://getcssscan.com/css-buttons-examples


#game-menu button{
    align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 2em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
      margin-bottom: 2em;
}
#game-menu .btn-red{
    background-image: linear-gradient(144deg,#F19C3D, #bfed35 50%,#D8601F)
}
#game-menu  button:active,
    button:hover {
      outline: 0;
    }
    
    @media (min-width: 768px) {
      .button-63 {
        font-size: 24px;
        min-width: 196px;
      }
    }



#game-menu button:first-of-type{
    margin-top: 2em;
} */

/* Lingo Timer */
#progress-bar{
    position: relative;
    margin-top: 0px;
    height: 10px;
    width: 300px;
    background-color: grey;

}
#tutorial-progress-bar{
    position: relative;
    margin-top: 0px;
    height: 10px;
    width: 300px;
    background-color: grey;
}
#tutorial-timer-display{
    background-color: red;
    position:absolute;
    width: 100%;
    height: 100%;
}
#timer-display{
    background-color: red;
    position:absolute;
    width: 100%;
    height: 100%;
    
}
#final-timer-display{
    margin-top: 0;
    text-align: center;
}
#tutorial-final-timer-display{
    margin-top: 0;
    text-align: center;
}
#skip-button{
    margin-top: 0px;
}

/* Lingo Game Tiles */

#game-area ul{
    list-style: none;
    display: table;
    
}
#tutorial-area ul{
    list-style: none;
    display: table;
}

#reveal-lingo{
    list-style: none;
    display: table;
}
.mobile-length-4,.mobile-length-5,.mobile-length-6,.mobile-length-7,.mobile-length-9,.mobile-length-10{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    float: left;
    text-align: center;
    background-color: #00225B;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    margin: 2px;
    color: white;
    line-height: 4.7rem;
    font-size: 2rem;
}

.mobile-length-4{
    width: var(--4-letter-size);
    height: var(--4-letter-size);
    line-height: var(--4-letter-line-height);
    
}
.mobile-length-5{
    width: var(--5-letter-size);
    height: var(--5-letter-size);
    line-height: var(--5-letter-line-height);
}
.mobile-length-6{
    width: var(--6-letter-size);
    height: var(--6-letter-size);
    line-height: var(--6-letter-line-height);
}
.mobile-length-7{
    width: var(--7-letter-size);
    height: var(--7-letter-size);
    line-height: var(--7-letter-line-height);
}
.mobile-length-9{
    width: var(--9-letter-size);
    height: var(--9-letter-size);
    line-height: var(--9-letter-line-height);
}
.mobile-length-10{
    width: var(--10-letter-size);
    height: var(--10-letter-size);
    line-height: var(--10-letter-line-height);
}

#clue{
    text-align: center;
    background-color: #E35F00;
    border-radius: 6px;
}
/* @media only screen and (max-width: 950px) {
    .mobile-length-4{
        width: 80px;
        height: 80px;
    }
    .mobile-length-5{
        width: 70px;
        height: 70px;
    }
    .mobile-length-6{
        width: 60px;
        height: 60px;
        line-height: 4rem;
    }
    .mobile-length-7{
        width: 50px;
        height: 50px;
    }
    .mobile-length-9{
        width: 40px;
        height: 40px;
    }
    .mobile-length-10{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .container{
        margin-left: 1rem;
    }
    .mobile-length-4{
        width: 80px;
        height: 80px;
    }
    .mobile-length-5{
        width: 70px;
        height: 70px;
        line-height: 4.2rem;
    }
    .mobile-length-6{
        width: 60px;
        height: 60px;
    }
    .mobile-length-7{
        width: 50px;
        height: 50px;
    }
    .mobile-length-9{
        width: 30px;
        height: 30px;
    }
    .mobile-length-10{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 473px) {
    .container{
        justify-content: flex-start;
        margin-left: 1rem;
    }
    .mobile-length-4{
        width: 60px;
        height: 60px;
        line-height: 3.5rem;
    }
    .mobile-length-5{
        width: 50px;
        height: 50px;
        line-height: 3rem;
    }
    .mobile-length-6{
        width: 40px;
        height: 40px;
        line-height: 2.5rem;
    }
    .mobile-length-7{
        width: 30px;
        height: 30px;
        line-height: 1.5rem;
    }
    .mobile-length-9{
        width: 20px;
        height: 20px;
        line-height: 1.5rem;
    }
    .mobile-length-10{
        width: 20px;
        height: 20px;
        line-height: 1.5rem;
    }
} */

/* Control area */
#control-area{
    margin-top: 0px;
}

/* User input  */


#toggle-user-input{
    display: flex;
    min-height: 100px;
    
}
#tutorial-toggle-user-input{
    display: flex;
    min-height: 100px;
}

#money-increment, #player-money{
    background-color: green;
    height: fit-content;
    padding-block: 20px;
    
}
#user-input{
    background-color: #00225B;
    padding: 20px 20px;
    
}
#mobile-scores{
    display: flex;
}

/* UI back button, verify , return to menu  */
.menu-button{
    padding: 1rem;
    background-color: #00225B;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    position:fixed;
    top: 0;
    left: 0;
    margin-top: 0.5%;
    margin-left: 0.5%;
    
}
@media only screen and (max-width: 821px) {
    .menu-button{
        padding:0.5rem;
    }
}
@media only screen and (max-width: 473px) {
    .menu-button{
        padding:0.1rem;
    }
}

#submit-answer{
    padding: 0.3rem;
    background-color: orange;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
   

}
#skip-word{
    background-color: orange;
    padding: 0.2rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;
}
#tutorial-skip-word{
    background-color: orange;
    padding: 0.2rem;
    text-align: center;
    border: 3px solid #E0D6D1; 
    border-radius: 6px;
    color: white;
    margin-top: 10px;

}

/* Tutorial Styles */
#overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

#rules-display{
    height: min-content;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,128,0,0.75);
    display: flex;
    justify-content: center;
    
}
#rules-display h1{
    text-align: center;
}
#rules-display-inner{
    
}

/* Hidden elements */

#options,#back-button,#final,#timer-display,#play-lingo-options,#skip-word,#dictonary,#words-defi-list,#full-game-section,#leader-board-section,#dictonary-section,.display-defi,#final-timer-display,#progress-bar,#game-over,#tutorial-section{
    display: none;
}
